<!-- start: Wrapper-->
	<div id="wrapper">

		<!-- start: Container -->
		<div class="container">
			
			<!-- start: Hero Unit - Main hero unit for a primary marketing message or call to action -
			 <div class="hero-unit">
				<h2>
					Bienvenido a Una Gauchada
				</h2>
				<h3> 
					El sistema que todos estaban esperando</strong>
				</h3>
			</div>
			<!-- end: Hero Unit 
			
			<hr>-->
			
			<!-- start: Theme Features -->
			<div class="row-fluid">
				

				<div class="span3 box-alt">
					<i class="icon-globe"></i>
					<h3>Gauchadas por el mundo</h3>
					<h4>Gente de todos los paises</h4>
					<p>Conectate con gente de todo el mundo y ofrecete como gaucho!</p>
					<div class="clearfix"></div>
					<hr class="visible-phone">
				</div>

				<div class="span3 box-alt">
					<i class="icon-search"></i>
					<h3>Buscador de Gauchadas</h3>
					<h4>filtros personalizados </h4>
					<p>Podras buscar gauchadas filtrando los mismos por: ciudad y por fecha limite</p>
					<div class="clearfix"></div>
					<hr class="visible-phone">
				</div>
				
			
				
				<div class="span3 box-alt">
					<i class="icon-exchange"></i>
					<h3>Gaucho o gauchada?</h3>
					<h4>usted elige</h4>
					<p>Nuestro sistema le permite ser un gaucho o pedir una gauchada</p>
					<div class="clearfix"></div>
					<hr class="visible-phone">
				</div>
				
				<div class="span3 box-alt">
					<i class="icon-heart"></i>
					<h3>Reputacion</h3>
					<h4>Se el mejor gaucho</h4>
					<p>Nuestro sistema de reputacion demuestra quien es el mejor gaucho.. y el peor tambien..</p>
					<div class="clearfix"></div>
				</div>	
				
			</div>	
			<!-- end: Theme Features -->
			
		</div>
		<!--end: Container-->
		
		<div class="dark-inside">
				<div id="page-title">
					<center><h2> Gauchadas a realizar </h2> </center>
				</div>
		
		<!-- start: Container -->
		<div class="container">
			
			<!-- start: Latest Projects -->
			<div class="row-fluid">

				<!-- start: Testimonials-->

				<div class="span6 testimonial-container">

					

				</div>		
				<!-- end: Testimonials -->
			
				<!-- start: Accordion -->
				<div class="accordion span12" id="accordion2">
					<div class="accordion-group">
				    	<div class="accordion-heading">
				        	<a class="accordion-toggle active" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
				           		<i class="icon-minus"></i> <font size=4>Alguien que pasee a mi perro Firulais?</font>
				           	</a>
				        </div>
				        <div id="collapseOne" class="accordion-body collapse in">
				        	<div class="accordion-inner">
				            	<font size=4>Necesito que alguien pasee a mi perro Firulais, me voy de vacaciones y a el no le gusta estar solo. Necesito a alguien responsable que sea capaz de darle cariño mientras yo no estoy. </font>
						   </div>
						   
						   <center>
							   <hr>
							   	<b> <font size=5>Fecha limite: 20/5/2017 </font></b>  
								   <hr>
							   <div>
								
						   <div class="progress progress-danger progress-striped active center">
					  		  <div class="bar" style="width: 95%"></div>
					       </div>
						</div>
					
						   </center>
						
							  <div> <center> <a class="center btn btn-primary" href="">Ofrecerse como Gaucho</a> </center> </div>
				    	</div>
					</div>

				    <div class="accordion-group">
				    	<div class="accordion-heading">
				        	<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
				            	<i class="icon-plus"></i> <font size=4>Acompañarme al supermercado </font>
				            </a>
				         </div>
				         <div id="collapseTwo" class="accordion-body collapse">
				         	<div class="accordion-inner">
				           		<font size=4>Necesito alguien que me acompañe al supermercado, las bolsas son muy pesadas y me gusta comprar muchas cosas.</font>
									
							</div>

							<center>
							   <hr>
							   	<b> <font size=5>Fecha limite: 5/7/2017 </font></b>  
								   <hr>
							   <div>
								
						   <div class="progress progress-warning progress-striped active center">
					  		  <div class="bar" style="width: 45%"></div>
					       </div>
						</div>
					
						   </center>
							 <center> <a class="center btn btn-primary" href="">Ofrecerse como Gaucho</a> </center>
				     	</div>
					</div>
					<div class="accordion-group">
						<div class="accordion-heading">
							<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
				    			<i class="icon-plus"></i><font size=4> Cortar el pasto </font>
				  			</a>
						</div>
						<div id="collapseThree" class="accordion-body collapse">
				     		<div class="accordion-inner">
				           		<font size=4>Necesito alguien que pueda cortar el pasto, yo no tengo cortadora asi que tendria que traer la suya.</font>
				  		
							  </div>

							  	<center>
							   <hr>
							   	<b> <font size=5>Fecha limite: 25/12/2017 </font></b>  
								   <hr>
							   <div>
								
						   <div class="progress progress-success progress-striped active center">
					  		  <div class="bar" style="width: 5%"></div>
					       </div>
						</div>
					
						   </center>
							  
							   <center> <a class="center btn btn-primary" href="">Ofrecerse como Gaucho</a> </center>
						</div>
					</div>
				</div>
				<!--end: Accordion -->
			
			<!-- start: Call To Action -->
			<div class="row-fluid">
				
				<div class="span12">
			
					<div class="call-to-action">
						
						<div class="row-fluid">
					
							<div class="span12">
								
								
							</div>
						
						</div>
					
					</div>
				
				</div>		
			
			</div>	
			<!-- end: Call To Action -->
			
								
					
		</div>
		<!--end: Container-->
		
		</div>
	
	</div>
	<!-- end: Wrapper  -->	

