
									<%= form_for :credito do |f| %>
 									 <p>
										   <%= f.label :cantidad %><br>
										    <%= f.text_field :cantidad %>
	 									 </p>
 
 									 <p>
 									   <%= f.submit('Registrarse') %>
  									</p>