
	<!-- start: Main Slider -->
	<style type="text/css" media="screen">

	.ls-layer,
	.ls-layer * {
		font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', Helvetica, Arial, Serif;
		font-weight: normal;
	}
	
	.ls-layer p {
		padding: 0px 10px;				
		line-height: 40px;
		box-shadow: 0px 4px 10px -5px black;
		text-shadow: none;
		font-size: 22px;
		border-radius: 4px;
		-moz-border-radius: 4px;
		-webkit-border-radius: 4px;
	}

	.l1-s1 {
		height: 80px;
		color: black;
		background: white;
		opacity: .9;
		width: 650px;
		text-align: center;
	}
	
	.l2-s1 {
		height: 40px;
		color: white;
		background: black;
		opacity: .65;
		white-space: nowrap;
	}
	
	.l3-s1 {
		height: 40px;
		color: black;
		background: white;
		opacity: .9;
		white-space: nowrap;
	}		
				
</style>

 <br>
  <br>
   <br>


	<div class="container">
		
		<!-- start: Page Title -->
		<div class="row-fluid">
		
			<div id="page-title" class="span4 offset4">

				<h2>Registra tu cuenta aqui</h2>

			</div>
			
		</div>
		<!-- end: Page Title -->
		
		<!-- start: Login Box-->
		<div class="row-fluid">
		
			<div class="lr-page span4 offset4">

				<div id="login-box">

					<!-- start: Row -->
					<div class="row-fluid">

						<div id="login-form" class="span12">

						

							<div class="page-title-small">

								<h3>Una Gauchada</h3>

							</div>

							<form method="post" action="">

								<div class="row-fluid">

									<input class="span12" id="user" name="user" type="text" value="" placeholder="Email"/>
                                    <input class="span12" id="user" name="user" type="text" value="" placeholder="Nombre"/>
                                    <input class="span12" id="user" name="user" type="text" value="" placeholder="Apellido"/>
                                    <input class="span12" id="user" name="user" type="text" value="" placeholder="Telefono"/>
									<input class="span12" id="pass" name="pass" type="text" value="" placeholder="Contraseña"/>

									<input class="span12" id="pass" name="pass" type="text" value="" placeholder="Repite contraseña"/>

								</div>

						
								</div>	

								<div class="actions">

									<button type="submit" class="btn btn-primary span12">Registrarse</button>

								</div>

							</form>

						</div>

					</div>
					<!-- end: Row -->	

				</div>
				<!-- end: Login Box  -->
				
			</div>	
			
      	</div>
		
	</div>	
 <br>
  <br>
   <br>
    <br>
