<ul class="nav">
							<li class="active"><a href="/inicio">Inicio<span></span></a></li>
							<% if user_signed_in? %>
	                  		<li><a href="/favor/nuevo">Publicar favor</a></li>
							<li><a href="">Ver favores</a></li>
							<li><a href="">Comprar creditos</a></li>
  							<li><%= link_to "Cerrar sesion", destroy_user_session_path, :method => :delete %></li>      
<li class="round-image-50"><%= image_tag(current_user.avatar.url(:thumb)) %></li> 
	              			</li>
							  <% else %>
							<li ><a href="/login">Iniciar sesion<span>ingrese al sistema</span></a></li>
							<li ><a href="/registration">Registrarse<span>comience aqui</span></a></li>
							<% end %>
	            		</ul>
	          		</div>
	        	</div>
