<!DOCTYPE html>
<html lang="en">
<head>

	<!-- start: Meta -->
	<meta charset="utf-8">
	<title>Una Gauchada, un sistema gauchesco!</title> 
	<meta name="description" content=""/>
	<meta name="keywords" content="" />
	<meta name="author" content="Team development"/>
	<!-- end: Meta -->
	
	<!-- start: Mobile Specific -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<!-- end: Mobile Specific -->
	
	<!-- start: Facebook Open Graph -->
	<meta property="og:title" content=""/>
	<meta property="og:description" content=""/>
	<meta property="og:type" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:image" content=""/>
	<!-- end: Facebook Open Graph -->

    <!-- start: CSS -->
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Droid+Sans:400,700">
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Droid+Serif">
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Boogaloo">
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Economica:700,400italic">
	<link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900'>
    <link href="http://bootstrapmaster.com/live/clear/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="http://bootstrapmaster.com/live/clear/css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css">
	<link href="http://bootstrapmaster.com/live/clear/css/style.css" rel="stylesheet" type="text/css">
	<link href="http://bootstrapmaster.com/live/clear/css/layerslider.css" rel="stylesheet" type="text/css">
	
	<!--[if lt IE 9 ]>
	  <link href="css/styleIE.css" rel="stylesheet">
	<![endif]-->
	
	<!--[if IE 9 ]>
	  <link href="css/styleIE9.css" rel="stylesheet">
	<![endif]-->
	
	<!-- end: CSS -->

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>
<body>
	
	<!--start: Header -->
	<header>
		
		<!--start: Container -->
		<div class="container">
			
			<!--start: Navigation -->
			<div class="navbar navbar-inverse">
	    		<div class="navbar-inner">
	          		<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
	            		<span class="icon-bar"></span>
	            		<span class="icon-bar"></span>
	            		<span class="icon-bar"></span>
	          		</a>
					<a class="brand" href="index.html"><img src="images/logochico.png"> Una Gauchada</a>
	          		<div class="nav-collapse collapse">
	            		<ul class="nav">
							<li class="active"><a href="/inicio">Inicio<span></span></a></li>
	              		
							
							<li ><a href="">Blog<span>nuestras historias</span></a></li>
	              			<li ><a href="">Contacto<span>contactenos</span></a></li>



							 <li class="dropdown">
	                			<a href="#" class="dropdown-toggle" data-toggle="dropdown">Acciones<b class="caret"></b><span>su cuenta</span></a>
	                			<ul class="dropdown-menu">
	                  				<li><a href="">Publicar favor</a></li>
									<li><a href="">Ver favores</a></li>
									<li><a href="">Comprar creditos</a></li>
									<li><a href="">Reportar favor</a></li>
									<li><a href="">Ver mi perfil</a></li>
									<li><a href="">Modificar mi perfil</a></li>
									<li><a href="">Eliminar cuenta</a></li>
	                			</ul>
	              			</li>

							<li ><a href="/login">Iniciar sesion<span>ingrese al sistema</span></a></li>
							<li ><a href="/registrarse">Registrarse<span>comience aqui</span></a></li>
	            		</ul>
	          		</div>
	        	</div>
	      	</div>	
			<!--end: Navigation -->
			
		</div>
		<!--end: Container-->			
			
	<%= yield%>		

	<!-- start: Footer -->
	<div id="footer">
		
		<!-- start: Container -->
		<div class="container">
	
			<!-- start: Row -->
			<div class="row-fluid">

				<!-- start: About -->
				<div class="span3">
					
					<h3>Team Development</h3>

					<p>	
						<i class="icon-map-marker"></i> La Plata, Buenos Aires, Argentina, 50 Nº 5350
					</p>	
					<p>	
						<i class="icon-phone"></i> Telefono: (0221) 456-7890
					</p>
			
					<p>
						<i class="icon-envelope"></i>  Email: contacto@teamdevelopment.com
					</p>
					<p>
						<i class="icon-globe"></i> Web: teamdevelopment.com
					</p>
						
				</div>
				<!-- end: About -->

				<!-- start: Latest Tweets -->
				
				<!-- end: Latest Tweets -->

				<!-- start: Photo Stream -->
								<!-- end: Photo Stream -->
				
				<!-- start: Follow Us -->
				<div class="span3">
					
					<h3>Seguinos</h3>
					
					<a href="#" class="social-twitter"></a>
					<a href="#" class="social-facebook"></a>
					<a href="#" class="social-linkedin"></a>
					<a href="#" class="social-youtube"></a>
	
					<a href="#" class="social-instagram"></a>
					<a href="#" class="social-googleplus"></a>
	
				</div>
				<!-- end: Follow Us -->
				
			</div>
			<!-- end: Row -->
		
		</div>
		<!-- end: Container  -->	

	</div>
	<!-- end: Footer -->
	
	<!-- start: Under Footer -->
	<div id="under-footer">
		
		<!-- start: Container -->
		<div class="container">
			
			<!-- start: Row -->
			<div class="row-fluid">

				<!-- start: Under Footer Logo -->
				<div class="span2">
					<div id="under-footer-logo">
						<a class="brand" href="#">Una Gauchada</a>
					</div>
				</div>
				<!-- end: Under Footer Logo -->

				<!-- start: Under Footer Copyright -->
				<div class="span8">
					
					<div id="under-footer-copyright">
						&copy; 2017, <a href="http://unagauchada.com">Una Gauchada</a>. Desarrollado por <a href="http://teamdevelopment.co">Team Development</a>
					</div>
					
				</div>
				<!-- end: Under Footer Copyright -->

				<!-- start: Under Footer Back To Top -->
				<div class="span2">
						
					<div id="under-footer-back-to-top">
						<a href="#"></a>
					</div>
				
				</div>
				<!-- end: Under Footer Back To Top -->
			
			</div>
			<!-- end: Row -->
			
		</div>	
		<!-- end: Container  -->
		
	</div>
	<!-- end: Under Footer -->	

<!-- start: Java Script -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="js/jquery-1.9.1.min.js"></script>
<script src="js/jquery.isotope.min.js"></script>
<script src="js/jquery.imagesloaded.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/flexslider.js"></script>
<script src="js/carousel.js"></script>
<script src="js/jquery.cslider.js"></script>
<script src="js/slider.js"></script>
<script src="js/jquery.fancybox.js"></script>
<script src="js/twitter.js"></script>
<script src="js/jquery.placeholder.min.js"></script>

<script src="js/jquery-easing-1.3.js"></script>
<script src="js/layerslider.kreaturamedia.jquery.js"></script>

<script src="js/excanvas.js"></script>
<script src="js/jquery.flot.js"></script>
<script src="js/jquery.flot.pie.min.js"></script>
<script src="js/jquery.flot.stack.js"></script>
<script src="js/jquery.flot.resize.min.js"></script>

<script defer="defer" src="js/modernizr.js"></script>
<script defer="defer" src="js/retina.js"></script>
<script defer="defer" src="js/custom.js"></script>
<!-- end: Java Script -->

</body>
</html>
